.bloque{
	display: inline;
	height: 200px;
	background: #FFFF00;
	font-size: 32px;
	width: 400px;
	height:180px;
	margin-right: 20px;
	padding: 20px;
	
}
.content{
	display: inline;
	height: 200px;
	background:#FF0000;
	font-size: 32px;
	width: 400px;
	height:180px;
	margin-right: 20px;
	padding: 20px;
}
	